/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* تحديد لون التحديد */
*::selection {
    background-color: #D85454;
    color: #FFFFFF;
}

/* سلوك السكرول */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

/* النافبار */
.mynavbar {
    height: 90px;
    box-shadow: 0px -5px 10px grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 10000;
}

/* الحاوية */
.mynavbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    height: 100%;
    margin: auto;
}

/* الشعار */
.mynavbar .logo a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, sans-serif;
}

.mynavbar .logo span {
    color: #CE1212;
}

/* روابط الموقع */
.mynavbar .links ul {
    display: flex;
    list-style: none;
}

.mynavbar .links ul li {
    margin: 0 15px;
}

.mynavbar .links ul a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, sans-serif;
    font-weight: 500;
    position: relative;
    transition: .5s;
    
}
.mynavbar .links {
   
    display: flex;
    align-items: center;
}
.mynavbar .links ul a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #CE1212;
    left: 0;
    bottom: -5px;
    transition: .5s;
}

.mynavbar .links ul a:hover {
    color: #000;
}

.mynavbar .links ul a:hover::after {
    width: 100%;
}

/* روابط تسجيل الدخول */
.mynavbar .auth-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.mynavbar .auth-links ul li {
    margin-left: 15px;
}

.mynavbar .auth-links a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 16px;
}

.mynavbar .auth-links a:hover {
    color: #000;
}

/* أيقونة الوضع الليلي */
.mynavbar .dark i {
    cursor: pointer;
    font-size: 18px;
}
